# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
.venv/
env_*/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.json
*.csv
*.zip
*.tsv
*.h5
*.parquet
*.feather
*.sqlite
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.bak
